{% extends '_layout/main.html' %}


{% block body %}
    <div id="vue-app">
        <div class="container mx-auto mt-5">
            
  <div class="mb-4 p-4 bg-white shadow rounded">
    <!-- Filter Section -->
    <div class="grid grid-cols-12 gap-4 items-center">
      <input v-model="filters.list_name"  type="text" placeholder="Name" class="col-span-2 border p-1 text-sm rounded">
      <input v-model="filters.list_description"  type="text" placeholder="Description" class="col-span-2 border p-1 text-sm rounded">
      <select v-model="filters.list_type"  class="col-span-2 border p-1 text-sm rounded">
        <option></option>
        <option>ip_address</option>
        <option>fqdn</option>
        <option>url</option>
        <!-- Add more options here -->
      </select>
      <input type="text" placeholder="Start Date" v-model="filters.created_range_start" onfocus="(this.type='datetime-local')" class="col-span-2 border p-1 text-sm rounded">
      <input type="text" placeholder="End Date" v-model="filters.created_range_end" onfocus="(this.type='datetime-local')" class="col-span-2 border p-1 text-sm rounded">
      <button @click="fetchData" class="col-span-2 bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold py-1 px-4 rounded">
        Filter
      </button>
    </div>
  </div>
            
            
            
            
            <div class="bg-white shadow overflow-hidden sm:rounded-lg">
                <ul class="divide-y divide-gray-200">
                    <!-- Repeat this `li` for each list item -->
                    <li v-for="item in items" :key="item.id" class="block hover:bg-gray-50">
                        {% verbatim %}
                        <a :href="item.name"  class="flex items-center px-6 py-4">
                            
                            <div class="flex-1 min-w-0 pr-4">
                                <p class="text-sm font-medium text-gray-900 truncate">
                                    {{ item.name }}
                                </p>
                                <p class="text-sm text-gray-500 truncate">
                                    {{ item.description }}
                                </p>
                            </div>
                            <div class="text-sm text-gray-500">
                                <p class="hidden sm:block">
                                    {{ item.edl_type }}
                                </p>
                                <p>
                                    {{ item.created }}
                                </p>
                            </div>
                            <!-- Chevron icon from Heroicons (ensure you have the heroicons library included) -->
                            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                            </svg>
                        </a>
                        {% endverbatim %}
                    </li>
                    <!-- Repeat ends -->
                </ul>
            </div>
        </div>


    </div>

    <script>
        var app = new Vue({
            el: '#vue-app',
            data: {
                items: [],
                filters: {
                    list_name: '',
                    list_type: '',
                    list_description: '',
                    created_range_start: '',
                    created_range_end: ''
                }
            },
            created() {
                this.fetchData();
            },
            methods: {
                
                fetchData() {
                    let queryParams = new URLSearchParams(this.filters).toString();
                    fetch(`/api/edl?${queryParams}`)
                        .then(response => response.json())
                        .then(data => {
                            this.items = data;
                        })
                        .catch(error => console.error('Error:', error));
                }
            }
        });
    </script>
{% endblock %}