{% extends '_layout/main.html' %}


{% block body %}
    <div id="vue-app">
        <div class="container mx-auto mt-5">

            <div class="mb-4 p-4 bg-white shadow rounded">
                <!-- Filter Section -->
                <div class="grid grid-cols-12 gap-4 items-center">
                    <input v-model="filters.list_name" type="text" placeholder="Name"
                           class="col-span-2 border p-1 text-sm rounded">
                    <input v-model="filters.list_description" type="text" placeholder="Description"
                           class="col-span-2 border p-1 text-sm rounded">
                    <select v-model="filters.list_type" class="col-span-2 border p-1 text-sm rounded">
                        <option></option>
                        <option>ip_address</option>
                        <option>fqdn</option>
                        <option>url</option>
                        <!-- Add more options here -->
                    </select>
                    <input type="text" placeholder="Start Date" v-model="filters.created_range_start"
                           onfocus="(this.type='datetime-local')" class="col-span-2 border p-1 text-sm rounded">
                    <input type="text" placeholder="End Date" v-model="filters.created_range_end"
                           onfocus="(this.type='datetime-local')" class="col-span-2 border p-1 text-sm rounded">
                    <button @click="fetchData"
                            class="col-span-2 bg-indigo-600 hover:bg-indigo-500 text-white text-sm font-bold py-1 px-4 rounded">
                        Filter
                    </button>
                </div>
            </div>


            <div class="bg-white shadow overflow-hidden sm:rounded-lg">
                <ul class="divide-y divide-gray-200">
                    <!-- Repeat this `li` for each list item -->
                    <li v-for="item in items" :key="item.id" class="block hover:bg-gray-50">
                        {% verbatim %}
                        <a :href="item.name" class="flex items-center px-6 py-4">

                            <div class="flex-1 min-w-0 pr-4">
                                <p class="text-sm font-medium text-gray-900 truncate">
                                    {{ item.name }}
                                </p>
                                <p class="text-sm text-gray-500 truncate">
                                    {{ item.description }}
                                </p>
                            </div>
                            <div class="text-sm text-gray-500">
                                <p class="hidden sm:block">
                                    {{ item.edl_type }}
                                </p>
                                <p>
                                    {{ item.created }}
                                </p>
                            </div>
                            <!-- Chevron icon from Heroicons (ensure you have the heroicons library included) -->
                            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                            </svg>
                        </a>
                        {% endverbatim %}
                    </li>
                    <!-- Repeat ends -->
                </ul>
            </div>
        </div>

        <!-- Floating Action Button -->
        <button @click="showModal = true"
                class="absolute bottom-5 right-5 bg-indigo-600 hover:bg-indigo-500 text-white font-bold p-0 h-12 w-12 rounded-full flex items-center justify-center text-3xl shadow-lg"
                onclick="/* Your JavaScript function here */">
            <i class="fas fa-plus"></i> <!-- Assuming you're using Font Awesome -->
        </button>

        <!-- Modal -->
        <div v-if="showModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
             id="my-modal">
            <!-- Modal content -->
            <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
                <div class="mt-3">
                    <!-- Your form and content here -->
                    <h2 class="text-base font-semibold leading-7 text-gray-900">Add External Dynamic List</h2>


                    <!-- FORM -->


                    <div class="border-b border-gray-900/10 pb-12">

                        <!-- Errors -->
                        <div v-if="newListErrors.length"
                             class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                             role="alert">
                            {% verbatim %}
                            <strong class="font-bold">There were {{ newListErrors.length }} errors with your
                                submission</strong>
                            <ul>
                                <li v-for="error in newListErrors">{{ error }}</li>
                            </ul>
                            {% endverbatim %}
                        </div>
                        <!-- Errors -->

                        <div class="mt-5 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                            <div class="sm:col-span-6">
                                <label for="name"
                                       class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                                <div class="mt-2">

                                    <input v-model="newList.name" type="text" name="name" id="name" autocomplete="name"
                                           placeholder="edl_name_123" class="col-span-2 border p-1 text-sm rounded">

                                </div>
                            </div>


                            <div class="col-span-full">
                                <label for="description"
                                       class="block text-sm font-medium leading-6 text-gray-900">Description</label>
                                <div class="mt-2">
                                            <textarea v-model="newList.description" id="description" name="description"
                                                      rows="3"
                                                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                                </div>
                                <p class="mt-3 text-sm leading-6 text-gray-600">To help yourself and others remember how
                                    this list is used.</p>
                            </div>

                            <div class="sm:col-span-3">
                                <label for="edl_type"
                                       class="block text-sm font-medium leading-6 text-gray-900">EDL Type</label>
                                <div class="mt-2">
                                    <select v-model="newList.edl_type" id="edl_type" name="edl_type"
                                            autocomplete="country-name"
                                            class="col-span-2 border p-1 text-sm rounded">
                                        <option value="ip_address">IP Address</option>
                                        <option value="fqdn">FQDN</option>
                                        <option value="url">URL</option>
                                    </select>
                                </div>
                            </div>


                        </div>
                    </div>


                    <!-- FORM -->


                    <!-- Close Modal Button -->
                    <div class="mt-6 flex items-center justify-end gap-x-6">
                        <button @click="showModal = false" type="button"
                                class="text-sm font-semibold leading-6 text-gray-900">Cancel
                        </button>
                        <button @click="addNewEDL" type="submit"
                                class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                                class="col-span-2 bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold py-1 px-4 rounded">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End of Vue App -->

    <script>
        var app = new Vue({
            el: '#vue-app',
            data: {
                items: [],
                showModal: false,
                newList: {
                    name: '',
                    edl_type: '',
                    description: ''
                },
                newListErrors: [],
                filters: {
                    list_name: '',
                    list_type: '',
                    list_description: '',
                    created_range_start: '',
                    created_range_end: ''
                }
            },
            created() {
                this.fetchData();
            },
            methods: {

                fetchData() {
                    let queryParams = new URLSearchParams(this.filters).toString();
                    fetch(`/api/edl?${queryParams}`)
                        .then(response => response.json())
                        .then(data => {
                            this.items = data;
                        })
                        .catch(error => console.error('Error:', error));
                },
                getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        let cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            let cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                },
                async addNewEDL() {
                    let csrfToken = this.getCookie('csrftoken');
                    // Clear the errors
                    this.newListErrors = [];
                    try {
                        const response = await fetch('/api/edl/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrfToken,
                            },
                            body: JSON.stringify(this.newList),
                        });

                        if (response.ok && response.status === 201) {
                            // If status is 201, the item was created successfully
                            // this.newListErrors.push(`EDL created successfully`);
                            this.showModal = false;
                            this.fetchData();
                            // Clear the form here if needed
                            this.newList = {name: '', edl_type: '', description: ''};
                        } else if (response.status === 400) {
                            // If status is 400, extract the errors for each field
                            const errors = await response.json(); // Make sure to await the JSON parsing
                            for (const key in errors) {
                                errors[key].forEach(err => {
                                    this.newListErrors.push(`${key} - ${err}`);
                                });
                            }
                        } else if (response.status === 403) {
                            // If status is 403, add an unauthorized error
                            this.newListErrors.push('Unauthorized for this action');
                        } else if (response.status === 401) {
                            // If status is 401, add an unauthorized error
                            this.newListErrors.push('Unauthenticated');
                        } else {
                            // For any other status code, add a generic API issue error
                            this.newListErrors.push('Generic API issue');
                        }
                    } catch (error) {
                        // If there is an error in the request itself, like network issues
                        this.newListErrors.push('Network error or API is down');
                        console.error('Error during fetch:', error);
                    }
                }
            }
        });
    </script>
{% endblock %}